h1 {
  color: green;
  font-style: italic;
}

button {
  color: rgb(111, 0, 255);
  border-radius: 10px;
}

.note {
  color: rgb(71, 71, 71);
  padding-top: 10px;
  font-size: 25px;
  font-style: italic;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}